/* nav {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px;
  line-height: 1.5em;
  box-shadow: 0 3px 10px gray;
  margin-bottom: 5px;
}

nav label {
  user-select: none;
}

article {
  text-align: center;
}

.execution {
  display: none;
}
.execution.execution_started {
  display: block;
}

/* Field */

.field {
  display: inline-table;
  table-layout: fixed;
}

.field td {
  --cell-size: 14px;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: bold;
  line-height: var(--cell-size);
  
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
  text-align: right;
}

.field .fifth-col {
  border-right: 2px solid black;
}
.field .fifth-row {
  border-bottom: 2px solid black;
}

.field .fifth-col.full {
  border-right-color: gray;
}
.field .fifth-row.full {
  border-bottom-color: gray;
}

.num, .cell {
  --fg: black;
  --bg: white;
  border: 1px solid gray;
  color: var(--fg);
  background: var(--bg);
}

.empty {
  --fg: gray;
  background:
    linear-gradient(
      to top right,
      transparent calc(50% - 0.5px),
      var(--fg) calc(50% - 0.5px),
      var(--fg) calc(50% + 0.5px),
      transparent calc(50% + 0.5px)
    ),
    linear-gradient(
      to bottom right,
      transparent calc(50% - 0.5px),
      var(--fg) calc(50% - 0.5px),
      var(--fg) calc(50% + 0.5px),
      transparent calc(50% + 0.5px)
    ),
    var(--bg)
    ;
}

.full {
  background: var(--fg);
}

.solved {
  --fg: blue;
}

.solving {
  --fg: green;
}

.solved.undefined,
.solving.undefined {
  background: var(--fg);
  opacity: 0.3;
} 